:root {
    --background: #F6F5F1;
    --grid-color: #D2E4EE;
    --text-color: #433E40;
    --green-highlight: #BAE4D9;
    --pink-highlight: #F3C4CF;
    --purple-highlight: #AFAAC6;
    --yellow-highlight: #F7E5A6;
    --red-highlight: #D99B9D;
    --blue-highlight: #A0CADD;
}

.background {
    background-color: var(--background);
}

.grid-color {
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, var(--grid-color) 0.5px, transparent 0.5px),
        linear-gradient(to bottom, var(--grid-color) 0.5px, transparent 0.5px);
}

.text-color {
    color: var(--text-color);
}